@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Sanchez&display=swap');
@import url('./partials/_variables.css');

/* SET UP */
/*font-family: 'Raleway', sans-serif;*/

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Sanchez', serif;
    color: var( --paragraph-color);
    background-color: var(--background-color);
    margin: 0 auto;
    max-width: 1020px;
  }
  
  .item {
    padding: 8px;
    background-color: var(--background-color);
    border-color: aliceblue;
  }
  
  .height-50 {
    height: 50vh;
  }

  .logo {
    width: 100%;
  }

 .perfil {
    width: 100%;
  }

  .navbar-brand {
    width: 50%;
  }
  /*Navbar*/
  .navbar {
    background-color: var(--background-color);
  }

  /* Task 3.1 */

.task-3-1.container {
    display: grid;
    height: 100vh;
  
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 24px;
}

.task-3-1 .navigation {
  text-align: center;
}

@media (min-width: 720px) {
  .task-3-1.container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
  }

  .task-3-1 .header {
    grid-column: 1 / span 12;
  }

  .task-3-1 .navigation {
    grid-column: 1 / span 12;
    text-align: center;
  }

  .task-3-1 .main {
    grid-column: 6 / span 12;
  }

  .task-3-1 .sidebar {
    grid-column: 1 / span 5;
    grid-row: 3;
  }

  .task-3-1 .footer {
    grid-column: 3 / span 10;
  }
}

@media (min-width: 1020px) {
  .task-3-1 .header {
    grid-column: 1 / span 12;
  }

  .task-3-1 .navigation {
    grid-column: 3 / span 8;
    text-align: center;
  }

  .task-3-1 .main {
    grid-column: 6/ 12;
  }

  .task-3-1 .sidebar {
    grid-column: 1/6;
  }

  .task-3-1 .footer {
    grid-column: 1 / span 12;
  }
}
  
  